
#contenedor{
    height: 1440px;
    width: 1290px;
    background: aqua;
}

#cabezal{
    height: 20%;
    background: black;
    
}

#banner{
    height: 29%;
    background: orange;
}

#main{
    height: 39.6%;
    background: red;
}

#pie_pagina{
    height: 10%;
    background: green;
    text-align: center;
}

#logo{
    height: 100%;
    width: 20%;
    background: turquoise;
    float:left;
}

#mensaje_logo{
    height: 50%;
    width: 80%;
    background: purple;
    float:left;
    text-align: center;
}

#boton_ingresar{
    height: 50%;
    width: 20%;
    background: yellow;
    float:right;
    text-align:center;
}

#menu_navegacion{
    height: 50%;
    width: 60%;
    background: gray;
    float: left;
}

.articulo{
    height: 50%;
    background: pink;
}

ul{
    list-style: none;
    display: inline-block;
    padding:50px;
}

li{
    float: left;
}

a{
    padding: 50px;
}

#imagen1{
    height: 100%;
    width: 100%;
}