*{
    /* margin: 0.5px; */
    padding: 0;
    /* box-sizing: border-box; */
 }

 #contenedor_donante{
    height: 1440px;
    width: 100%;
    /* width: 1290px; */
    /* background-color: aqua; */
    border-color: blue;
    /* border-width: 1em; */
    border-style: solid;
}
    #header_donante{
        height: 10%;
        /* background-color: gray; */
    }
        #logo{
            height: 100%;
            width: 12.5%;
            background-color: cornflowerblue;
            float:left;
        }
        #mensaje_logo{
            height: 100%;
            width: 87.5%;
            /* background-color: beige; */
            float: right;
            text-align:center;
        }
        #lema1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(12, 12, 163);
            font-size:xx-large;
        }
        #lema2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(12, 12, 163);
            font-size:large;
        }

    #menu_navegacion{
        height: 5%;
        background-color: rgb(16, 221, 221);
        text-align: center;
    }
    ul{
        list-style: none;
        display: inline-block;
        padding:5px;
    }
    li{
        float:left;
        margin: 0em;
        padding: 5px;
    }
    a{
        text-decoration:dotted;
        padding: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    
    #banner_donante{
        height: 25%;
        background: url("backgroundhuellas00.png") ;
        /* background-color: gray; */
    }
        #imagen_banner_donante{
            height: 100%;
            width: 50%;
            /* background-color: cornflowerblue; */
            float: left;
        }
        #mensaje_donante{
            height: 100%;
            width: 50%;
            /* background-color: beige; */
            float: right;    
            text-align: center;
        }
        #parrafo_donante{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 3em;
            color: rgb(12, 12, 163);
        }
    #main_donante{
        height: 49%;
        /* background-color: yellow; */
    }
        #articulo_donante{
            height: 80%;
            width: 50%;
            /* background-color:darkseagreen; */
            float: left;
            text-align: center;
        }
        #parrafomain1_donante{
            font-size:x-large;
            margin: 1em;
            color: rgb(12, 12, 163);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #parrafomain2_donante{
            font-size:xx-large;
            margin: 1em;
            color: rgb(12, 12, 163);
            font-weight:bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #parrafomain3_donante{
            font-size:x-large;
            margin: 1em;
            color: rgb(12, 12, 163);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #botones{
            height: 20%;
            width: 50%;
            /* background-color: darkslategray; */
            float: left;
        }
        #boton1{
            height: 10%;
            width: 50%;
            float: left;
        }
        #boton2{
            height: 10%;
            width: 50%;
            float: left;
        }
        .boton{
            width: 150px;
            height: 50px;
            background-color: rgb(54, 35, 161);
            border-radius: 0.5em;
            cursor: pointer;
            transition: background-color 1s;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size:x-large;
            font-weight: bold;
            color: rgba(219, 206, 210, 0.966);
            line-height: 1.5em;
            margin: .5em auto;
        }
        .boton:hover{
            background-color: rgb(109, 196, 109);
        }
        .btn{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgba(219, 206, 210, 0.966);
            line-height: 1.5em;
            margin: .5em auto;
        }
        #imagen_main_donante{
            height: 100%;
            width: 50%;
            /* background-color: darkolivegreen; */
            float: right;
        } 
    #barra{
        height: 1%;
        width: 100%;
        background-color: rgb(82, 82, 179);
        border-radius: 0.5em;
    }
    #pie_pagina{
        height: 10%;
        width: 100%;
        /* background-color: gray; */
    }
        #marca_huella{
            height: 100%;
            width: 15%;
            /* background-color:bisque; */
            float: left;
            /* margin: 0em auto; */
        }
        .center{
            margin: 1.5em auto;
            display: block;
            border-radius: 0.5em;
        }
        #menu_pie{
            height: 100%;
            width: 60%;
            /* background-color:burlywood; */
            float: left;
            text-align: center;
        }
            #lista_pie{
                margin: 3em auto;
            }
        #trade_mark{
            height: 100%;
            width: 25%;
            /* background-color: brown; */
            float: left;
            text-align: center;
            
        }
        #copy_right{
            font-family: Arial, Helvetica, sans-serif;
            color:gray;
            margin: 3em;
        }

        

