<style>
 
    
*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
      }
 
      header{
        background-color: #F9F8FC ;
      }

      footer{
        background-color: #F9F8FC ;
      }
           
      
     
      nav{
       display: flex;
       height: 120px;
       background-color:rgb(135, 178, 64);
       text-align: right;
       justify-content: space-between;
       
     }

     nav h4{
        font-family: 'Pacifico' bold;
        font-size: 20px;
        color: rgb(64, 46, 127);
        margin-right: 460px;
        margin-top: 90px;
      }

     #logo{
        margin: auto;
        text-align: left;
      }
    
      #logo h1{
         font-family: 'Pacifico', cursive;
         font-size: 20px;
       }
 
 
     nav ul{
        list-style: none;
        display: inline-block;
        padding:18px;
     }
 
     nav ul li{
         float: left;
         margin-top: 20px;
     }
 
     nav ul li a {
         color: rgb(64, 46, 127);
         font-weight: bold;
         text-decoration: none;
         font-size: 22px;
         padding: 18px;
     }
 
     nav ul li a:hover{
       background-color: white;
     }

     #parrafo h1{
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        text-align: center;
      }
    
      #parrafo p{
        font-family: 'Pacifico';
        font-size: 25px;
        text-align: center;
      }

      #p h1{
        font-family: 'Pacifico' cursive;
        font-size: 40px;
        text-align: center;
      }

      #p p{
        font-family: 'Pacifico';
        font-size: 25px;
        text-align: center;
      }

     
   </style>
